# Local Development Supabase Configuration (Default CLI values)
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByb2plY3QtcmVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDQxMDUyMDAsImV4cCI6MjAyMDA2MTIwMH0.dummy-anon-key
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByb2plY3QtcmVmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwNDEwNTIwMCwiZXhwIjoyMDIwMDYxMjAwfQ.dummy-service-role-key
SUPABASE_JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long

# NextAuth
NEXTAUTH_URL=http://localhost:5000
NEXTAUTH_SECRET=local-dev-secret-key
